[submodule "promptpile"]
	path = promptpile
	url = https://github.com/lithdoo/promptpile.git
[submodule "dayloom"]
	path = dayloom
	url = https://github.com/lithdoo/dayloom.git
[submodule "hostra"]
	path = hostra
	url = https://github.com/lithdoo/hostra.git
[submodule "bindtty"]
	path = bindtty
	url = https://github.com/lithdoo/BindTTY.git
